{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
  </head>
  <body>
    <h1>Welcome to The Anime Section where these items have been imported from different Anime worlds!</h1>
    <a href="/cart/"><button>view cart</button></a><br>
    <a href="/"><button>back</button></a>
    {% block content %}
    {% for item in items %}
    <h2>{{ item.name }}</h2>
    <img src="{% static item.image %}" alt="item" />
    <p>{{ item.description }}</p>
    <p>${{ item.price }}</p>
    <input type="checkbox">add to cart</input>
    {% endfor %}
    {% endblock content %}
  </body>
</html>
